.boxTT{
    display: flex;
    padding: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}


@media (max-width: 425px){
    .boxTT{
        padding: 25px;
    }
}