form{
    /* border: 1px solid red; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 20px;
    /* width: 50rem; */
    align-items: center;
    justify-content: center;
    color: black;
}

button{
    margin: 5px;
    border-radius: 2px;
    width: 5rem;
    color: rgb(110, 57, 179);
    background-color: grey;
}


input{
    margin: 5px;
    border-radius: 2px;
    width: 18rem;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}


h4{
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;
}